html{
  font-size: 16px;
}

body{
  color: white;
  text-align: center;
}

/*
  fonts
  font-family: 'Montserrat', sans-serif;
font-family: 'Leckerli One', cursive;
font-family: 'Lato', sans-serif;

*/

@media (min-width: 300px) {

  header{
    background-image: url('/23/imgs/background.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }


  .logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8rem;
    display: inline;
    width: 100%;
  }

  .blue-element{
    color: #0081FF;
  }



  .button{
    background-color: #00AEED;
    font-family: Tahoma;
    color: white;
    font-size: 1.25rem;
    min-width: 8.125rem;
    min-height: 1.875rem;
    padding: 0.5rem;
    border-top-right-radius: 70px 100px;
    border-top-left-radius: 70px 100px;
    border-bottom-right-radius: 70px 100px;
    border-bottom-left-radius: 70px 100px;
    border: none;
    margin-top: 3.5vh;
  }


  .nav-list{
    display: none;
  }

  .dancer{
    display: none;
  }

  .description{
    margin-top: 2.5vh;
  }

  .description-item-first{
    font-family: 'Leckerli One';
    font-size: 2rem;
    margin-bottom: 2.5vh;
  }

  .description-item-second .description-item-third{
    font-family: 'Montserrat', sans-serif;
  }

  .description-item-second{
    font-size: 2.4rem;
    font-weight: bold;
  }

  .description-item-third{
    font-size: 1.5rem;
    margin-bottom: 2.5vh;
    margin-top: 1vh;
  }
  .description-item-forth{
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    margin-bottom: 3vh;
    margin-top: 3vh;
    padding: 0 0.5;
  }

  .button{
    background-color: #00AEED;
    font-family: Tahoma;
    color: white;
    font-size: 1.25rem;
    min-width: 8.125rem;
    min-height: 1.875rem;
    padding: 0.5rem;
    border-top-right-radius: 70px 100px;
    border-top-left-radius: 70px 100px;
    border-bottom-right-radius: 70px 100px;
    border-bottom-left-radius: 70px 100px;
    border: none;
    margin-bottom: 1vh;
  }


  /* ################ MAIN STYLING ################# */

  .block-one{
    min-height: 45vh;
    background-color: #0081FF;
    padding-bottom: 0.5rem;
  }



  .block-right{
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    min-height: 45vh;
    margin-top: 1.5vh;
  }





  .block-left-first{
    font-family: 'Leckerli One', cursive;
    font-size: 2rem;
    margin-bottom: 3.125vh;
    padding: 1.5rem;
  }

  .block-left-second{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2vh;
  }

  .block-left-third{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    margin-bottom: 2vh;
    padding: 0 .5rem;
  }

  .block-two{
    min-height:55vh;
    background-color: #007AF3;
    border-top: 1px solid black;
    font-family: 'Lato', sans-serif;
    text-align: center;
  }

  .block-two-title{
    font-family: 'Leckerli One', cursive;
    font-size: 2.75rem;
    margin-top: 6vh;
    margin-bottom: 2vh;
  }

  .block-two-description{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.9rem;
  }

  .block-two-element{
    padding-top: 15vh;
    font-family: 'Lato', sans-serif;
    padding:3rem 5rem;
    text-align: justify;
  }

  .block-two-element-title{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 3vh;
  }
  .block-two-element-description{
    font-size: 1.3rem;
  }

  .block-two-img{
    position: absolute;
    left: .7rem;
    height: 52px;
    max-width: 72px;
  }


  .portfolio{
    max-width: 100vw;
    color: black;
    background-color: #e6e6e6;
  }

  .portfolio-title{
    font-family: 'Leckerli One', cursive;
    font-size: 2.625rem;
    color: #575757;
    padding-top: 1.5rem;
  }

  .portfolio-description{
    font-family: 'DejavuSans', 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    margin-top: .5rem;
    margin-bottom: 2rem;
  }

  .portfolio-container{
    max-width: 100vw;
  }

  .portfolio-img{
    max-width: 100%;
    display: block;
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;

}

.client{
  background-image: url('/23/imgs/mountains.png');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.client-title{
  font-family: 'Leckerli One', cursive;
  font-size: 2.625rem;
  color: #575757;
  padding-top: 3rem;
}

.client-subtitle{
  font-family: 'DejavuSans', 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.client-description{
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  margin-bottom: 3vh;
  margin-top: 3vh;
  padding: 0 0.8rem;
}

.client-logos-element{
  padding:2rem;
}

.blog{
  color: black;
}

.footer-contact{
  color: black;
}

.credits{
  color: black;
}

.blog{
  color: grey;
}

.blog-title{
  font-family: 'Leckerli One', cursive;
  font-size: 2.75rem;
  padding: 0.8rem;
}

.blog-subtitle{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}

.blog-description{
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  padding: 1.5rem;
}

.blog-aside-vertical{
  background-color: #007EF9;
  color: white;
}

.blog-aside-smaller-two{
  background-color: #000000;
  color: white;
}

.blog-right-lower-block{
  background-color: #E91D62;
  color: white;
}

.content{
  font-family: 'Lato', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0.5rem;
}

.date{
  font-family: 'Lato', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0.5rem;
}

.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding: 1.5rem;
}

.blog-right-upper-block{
  background-image: url('/23/imgs/post-bg.png');
  max-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lower-block-date .lower-block-title .lower-block-content{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

footer{
  background-image: url('/23/imgs/socials.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contacts{
  color: white;
}

.contacts-title{
  font-family: 'Leckerli One', cursive;
  font-size: 2.75rem;
  padding: 2rem 0 1rem 0;
}

.contacts-subtitle{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}

.contacts-details{
  margin: 1.5rem;
}

.in-touch-element{
  display: block;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

.contact-details-title{
  font-weight: bold;
  padding: .5rem;
}
.contact-icon{
  padding: 0.5rem;
}

.credits{
  color: white;
  padding: 0.5rem;
}

.in-touch-element{
  width: 80%;
  padding: 0;
  background-color: #1F1F1F;
  border: 0;
  margin: 0.5rem auto;
}
.msg{
  padding: 1px;
}

.credits{
  font-family: 'DejavuSans', 'Montserrat', sans-serif;
}

.credits-title{
  font-size: 1rem;
  padding: 0.5rem;
}

.credits-subtitle{
  font-size: .7rem;
  padding: 0.5rem;
}

}

@media (min-width: 900px) {


  .contacts-container{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts-container::after{
    display: block;
    content: "";
    clear: both;
  }
  .contacts-details{
    float: left;
  }
}

@media (min-width: 1200px) {
  .logo-element{
    float: left;
    margin: 0.5rem;
    padding-left: 3vw;
  }

  .nav-button{
    display: none;
  }

  .nav-list{
    display: block;
    float: right;
    font-size: 1.25rem;
    font-family: 'Tahoma', sans-serif;
    text-transform: uppercase;
  }

  .nav-item{
    float: right;
    margin: 1.2rem;
    margin-top: 2rem;
  }


  .nav-item-link{
    color: white;
    text-decoration: none;
    transition: color 1s;
    cursor: pointer;
  }

  .nav-item-link:hover{
    color: #0081FF;
  }
/*
nav::after{
  display: table;
  content: '';
  clear: both;
}
 */

  .description{
    float: left;
    display: inline;
    max-width: 40vw;
    padding-top: 5vh;
    padding-left: 2vw;
  }

  .description-item-first{
    font-size: 3rem;
  }

  .description-item-second{
    font-size: 3.5rem;
  }

  .description-item-third{
    font-size: 2.5rem;
  }

  .description-item-forth{
    font-size: 2rem;
  }

  .dancer{
    display: block;
    float: right;
    margin-top: 5vh;
  }

  .block-left{
    float: left;
    max-width: 36.56rem;
  }
  .block-right{
    float: right;
    max-width: 36.56rem;
  }

  .block-right-child{
    margin-top: 24.15%;
    margin-bottom: auto;
  }

  .block-left{
    max-width: 36.56rem;
    height: 45vh;
  }

  .block-left-first{
    margin-top: 2.875rem;
  }
.block-left{
  margin-left: 15vw;
}
.block-right{
  margin-right: 15vw;
}

  .block-two-element{
    float: left;
    display: inline-block;
    max-width: 20vw;
    padding-top: 50px;
  }

  .block-two-element-container{
    max-width: 90vw;
    display: block;
    margin: 0 auto;
  }

  .block-two-element-container::after{
    display: block;
    content: '';
    clear: both;
  }


  .block-two-element-title{
    display: inline-block;
    margin-left: 15px;
  }

  .block-two-img{
    position: relative;
    bottom: -15px;
    right: 20px;
  }

  .portfolio{
    background: linear-gradient(180deg, #e6e6e6, #0d0d0d 80%) no-repeat;
  }

    .portfolio-left{
      float: left;
      margin-left: 10vw;
    }

    .portfolio-right{
      float: right;
      margin-right: 10vw;
    }

    .portfolio::after{
      display: block;
      content: "";
      clear: both;
    }
    .client{
      position: relative;
    }

    .wrapper{
      min-width: 70vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .client-logos{
      text-align: center;
    }
    .client-logos-container{
      display: inline-block;
    }

    .client-logos::after{
      display: block;
      content: "";
      clear: both;
    }

    .blog{
      min-height: 100vh;
      position: relative;
    }

    .blog-left{
      display: inline-block;
      max-width: 30vw;
      margin-right: .5rem;
    }


    .blog-right{
      display: inline-block;
      max-width: 30vw;
    }

    footer{
      min-height: 100vh;
    }


}

@media (max-height: 600px) {
  .description{
    margin-top: 5vh;
  }

  .description-item-first{
    font-size: 3rem;
  }
  .description-item-second{
    font-size: 3.5rem;
  }
  .description-item-third{
    font-size: 2rem;
  }
  .description-item-forth{
    font-size: 1.2rem;
  }

  .block-left-first{
    font-size: 2.5rem;
  }
  .block-left-second{
    font-size: 2.5rem;
  }
  .block-left-third{
    font-size: 1.5rem;
  }
  .block-right-child{
    font-size: 1.7rem;
  }

  .portfolio-title{
    font-size: 3.5rem;
  }
  .portfolio-description{
    font-size: 3rem
  }

  .client-title{
    font-size: 3.5rem;
  }
  .client-subtitle{
    font-size: 3rem;
  }
  .client-description{
    font-size: 1.5rem;
  }

  .blog-title{
    font-size: 3rem;
  }
  .blog-subtitle{
    font-size: 3.5rem;
  }

  .blog-description{
    font-size: 1.8rem;
  }

  .contacts-title{
    font-size: 3.5rem;
  }

  .contacts-subtitle{
    font-size: 3.8rem;
    padding: 0.2rem;
  }

  .contact-details-title{
    font-size: 1.7rem;
  }

  .contacts-details > p {
    font-size: 1.2rem;
  }
}

@media (min-height: 900px) {
  .blog-right-upper-block{
    height: 50vh;
  }
}
